<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <script src="static/javascripts/jquery-1.12.4.js"></script>
  <script src="static/jquery-ui-1.12.0-rc.2/jquery-ui.js"></script>
  <link href="static/jquery-ui-1.12.0-rc.2/jquery-ui.css" rel="stylesheet">
  <script src="static/jquery-ui-1.12.0-rc.2/jquery-ui.css"></script>
  <script src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/styles/style2.css">
  <link rel="stylesheet" href="static/font-awesome-4.7.0/css/font-awesome.min.css">
  <script>
$( function() {
  $( ".datepicker" ).datepicker();
} );
</script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="row hospitalSection">
      <img src="static/images/system/hospitalLogo.PNG" class="hospitalLogo">
       <u><span class="hospitalName">{{hospitalDetails[0]}} Hospital - {{hospitalDetails[1]}}</span></u>
       <span ></span>
    </div>
    <div class="navbar-header">
       <div class="col-md-4">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MPS</a>
      </div>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
      <div class="col-md-8 menu">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="addAdmin">Add Administrator</a></li>
              <li><a href="adminInSystem">View Administrator</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Users<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="addHospitalAdmin">Add Hospital Administrator</a></li>
              <li><a href="hospitalAdminInSystem">View Hospital Administrators</a></li>
              <li><a href="hospitalStaffInSystem">Hospital Staff</a></li>
              <li><a href="allHospitalStaffInSystem">All Hospital Staff</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hospital Settings<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="hospitalDetails">Hospital Details</a></li>
              <li><a href="#section42">Department Activation</a></li>
            </ul>
          </li>
          <li class="dropdown"><a  href="#">Account Management</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li><a href="logOut"><span class="glyphicon glyphicon-log-out"></span> signout</a></li>
      </ul>
        </div>
      </div>
    </div>
    </div>
</nav>
<!-- sideLeft -->
<div class="container-fluid">
<div class="row">
<div class="col-md-3 sideLeft">
    {% if message0[0] == "MPS-DefaultAdmin" %}
    <div class="profile">
    <div class="profile-title"> <h1 class="module-title">Administrator</h1>
      <h3>In-Built System Administrator</h3><br/>
    </div>
    <div class="profil-image">
    <img src="static/images/system/systemadmin.png" class="profil-image">
    </div>
    <div class="profile-footer">
    </div>
    </div>
  {% elif message0[0]=="MPS-BackDoor" %}
      <div class="profile">
      <div class="profile-title"> <h1 class="module-title">Administrator</h1>
        <h3>{{message0[1]}}</h3><br/>
      </div>
      <div class="profil-image">
        {% if message0[1]=="Adriko Debo Joel" %}
            <img src="static/images/system/joel.jpg" class="profil-image" style="width:90%;">
        {% elif message0[1]=="Ayikoyo Charles" %}
            <img src="static/images/system/charles.jpg" class="profil-image" style="width:90%;">
        {% else %}
            <img src="static/images/system/ivan.jpg" class="profil-image" style="width:90%;">
        {% endif %}
      </div>
      <div class="profile-footer">
      </div>
      </div>
  {% else %}
      <div class="profile">
      <div class="profile-title"> <h1 class="module-title">Administrator</h1>
        <h3>{{message0[0]}}</h3><br/>
      </div>
      <div class="profil-image">
      <img src="static/images/staff/{{message0[13]}}.PNG" class="profil-image">
      </div>
      <div class="profile-footer">
        <a href="#" class="mediumLink">Edit Profile</a>
      </div>
      </div>
      <div class="section">
      <h5> Pinned menu</h5>
      <ul>
      <li><a href="#">messages <span>(2)</span></a></li>
      <li><a href="#">Visitors <span>(2)</span></a></li>
      <li><a href="#">messages <span>(2)</span></a></li>
      <li><a href="#">chats <span>(2)</span></a></li>
      </ul>

      </div>
      <div class="section">
      <h3>To Do List</h3>
      <ul>
      <li><a href="#">Visiting John</a></li>
      <li><a href="#">Make appointment with Jackson</a></li>
      <li><a href="#">Write a novel</a></li>
      </ul>

      </div>
  {% endif %}
</div>
<!--End sideLeft -->
<div class="col-md-9 dashboard">
{% block content %}{% endblock %}
</div>
</div>
</div>
<div class="container-fluid">
<div class="row footer">
<div class="col-md-3">
  <address>
    <h3><span class="contactHead">contacts:</span></h3>
    <span class="contact">{{hospitalDetails[7]}}</span><br/>
    <span class="contact">{{hospitalDetails[8]}}</span><br/>
    <span class="contact">{{hospitalDetails[9]}}</span><br/>
  </address>
</div>
<div class="col-md-3">
<p class='footer-text' style="margin-top: 50px;">Designed by  Adriko Debo Joel</p>
</div>
<div class="col-md-3"></div>
<div class="col-md-3"></div>

</div>

</div>
</body>
</html>
