{% extends 'layouts/humanResource.html' %}
{% block content %}
<!--dashboard -->


<div class="row">
        <div class="col-md-12">
            <div class="error-template">
                  <i class="fa fa-spinner fa-5x fa-spin waiting" aria-hidden="true"></i>
                <h1 style="background-color:white !important; font-size:45px;">
                   Hello Mr. {{message[0]}}</h1>
                <div class="error-details">
                   <h3 style="color:rgb(20,100,180);">We are setting your interface</h3>
                </div>
               
            </div>
        </div>
    </div>



{% endblock %}
